   h1{
       text-align: center;
   }
   hr{
       color: #7fddff;
       margin-left: 100px;
       margin-right: 100px;
   }
   img{
       margin-left:  350px;
       margin-right: 100px
   }
   h5{
       color: #fa6e0b;
       margin-left: 100px;
       margin-right: 100px;
   }
   p{
       font-weight: bold;
       margin-left: 100px;
       margin-right: 100px;
   }